body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.top-banner {
    display: flex;
    margin-bottom: 5px;
}

.half-width {
    width: 50%;
    padding: 4%;
}

.spider-man {
    width: 90%;
}


h1 {
    font-size: 55px;

}

.top-heading {
    border-left: 3px solid red;
    padding-left: 10px;
}

h2 {
    font-size: 45px;
}

h4 {
    font-size: 20px;
}

.red-color {
    color: rgb(207, 1, 1);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, salmon);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 500;
    border-radius: 5px;
}

.mission-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}


.mission-items {
    display: flex;

}

.each-mission {
    width: 31%;
    margin: 4%;

}

.mission-items img {
    width: 45%;
}

.mission-one {
    background-color: rgba(244, 165, 96, 0.493);
    border-radius: 10px;

    padding: 15px;
}

.mission-two {
    background-color: rgba(127, 255, 212, 0.562);
    border-radius: 10px;

    padding: 15px;
}

.mission-three {
    background-color: rgba(170, 230, 67, 0.432);
    border-radius: 10px;
    padding: 15px;
}

.spiderman-selfie {
    width: 90%;
}

.spiderman-works {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.project-picture {
    width: 75%;
}

.community-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.popularity-area {
    display: flex;
    background-color: rgba(45, 44, 126, 0.575);
    margin: 4%;
    border-radius: 10px;
    color: azure;
}

.our-popularity {
    width: 31%;
    padding: 4%;
}

h3 {
    font-size: 40px;
    text-align: center;
}

.orange-color {
    color: rgb(255, 94, 0);
}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-bottom: 0;
}